@model IEnumerable<Sabor>

@{
    ViewData["Title"] = "Sabor";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Nome
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImagemURL" width="100%" alt="@item.Nome">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                             <p class="card-text ">
                                
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-primary mt-1 col-md-2" asp-action="Detalhes" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a class="btn btn-success mt-1 col-md-2" asp-action="Atualizar" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                 </a>
                                <a class="btn btn-danger mt-1 col-md-2" asp-action="Deletar" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
