@model PizzariAtv.Models.ViewModels.Responsive.GetPizzasDTO

@{
    ViewData["Title"] = "Detalhes" ;
}
<div class="row">

    <div class="col-md-2">
        <img class="img-thumbnail" src="@Model.ImagemURL" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Nome</h1>
        <p>@Model.Descricao</p>
        <p>@Model.Preco</p>
        <p>@Model.Tamanho</p>
    </div>
</div>